/* Global */
*, *::before, *::after {
    box-sizing: border-box; 
}
/*font-family: 'Lobster Two', cursive;
font-family: 'Cookie', cursive; */

body {
    background-color: #FF8C00;
    margin: 0 auto;
    color: #201a13;
    font-size: 16px;
    font-family: 'Lobster Two', cursive;
    line-height: 1.7; 
}
.container {
    margin: 0 auto;
    padding-top: 48px;
    padding-bottom: 48px;
    background-image: url(../image/concert.jpg);
}
.navigation {
    position: absolute;
    display: inline-block;
    transform: rotate(-90deg);
    font-size: 20px;
}
.container h1, h2 {
    text-align: center;
    font-size: 48px;
}
.text {
    padding-top: 20px;
    font-family: 'Cookie', cursive;
    position: relative;
    width: 380px;
    dispaly:inline-block;
    margin: 0 auto;
}
.text p{
    text-align: center;
    font-size: 24px;
    border: 4px dotted #1A237E;
    padding-top: 10px;
    padding-bottom: 10px;
}
footer{
    background-color: #FF6F00;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
footer p{
    text-align: center;
    font-size: 14px;
}