/* Global */
*, *::before, *::after {
    box-sizing: border-box; 
}

body {
    background-color: #dbccbc;
    margin: 0 auto;
    color: #201a13;
    font-size: 16px;
    font-family: 'Inconsolata', monospace;
    line-height: 1.7; 
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 10px 20px; 
}
.container h1, h2 {
    text-align: center;
}
.text {
    padding-top: 20px;
}
p{
    text-align: center;
}
footer{
    background-color: rgb(202, 145, 105);
    padding-top: 10px;
    padding-bottom: 10;
    text-align: center;
}
footer p{
    text-align: center;
    font-size: 14px;
}